@model IEnumerable<MyNote.Models.ViewModels.MoneyItemViewModel>


<table class="table table-bordered table-hover">
    <tr>
        <th>
            #
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteType )
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteDate)  @* //exchaneg NoteDate and NoteAmount here, since I make worng Display name in ViewModel *@
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoteAmount)
        </th>

    </tr>


@{
    int my_index = 0;
    foreach (var item in Model) {
        my_index++;
    <tr>
        <td>
            @my_index

        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteType )
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteAmount, null, "金額")
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoteDate, null, "日期")
        </td>

    </tr>
    }
}
</table>
